header {

    height: 95px;
    width: 100%;
    background-color: var(--color-dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

section {
    padding-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.mobile_icon, .mobile_iconMenu {

    font-size: 30px;
    color: var(--color-primary);



}

.other_icon {
    display: none !important;
}

header img {
    width: 125px;
    justify-self: center;
}

.search_desktop {

    display: none;

}

@media(min-width: 769px) {

    .other_icon {
        display: block !important;
        font-size: 20px;
        color: var(--color-primary);
        margin: 0 8px;
        cursor: pointer;
    }

    .other_icon:hover {
        color: var(--color-accent);
       
    }

    .mobile_icon{
        margin: 0 12px 0 8px;
         cursor: pointer;
    }

    .mobile_icon:hover {
        color: var(--color-accent);
       
    }

    .mobile_iconMenu{
        display: none;
        
    }

    section img{
        width: 150px;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section{
        width: 100%;
        max-width: 1024px;
    }
    
    .mobile_icon, .mobile_iconMenu {

    font-size: 20px;



}

}