.HeaderDesktop {
    display: none;
}

.backgorund {
    background-color: var(--thirdColor);
}

.HeaderMobile {
    width: 100%;

}

.containerMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1024px;
    margin: 0 auto;

    padding: 16px;
}

.containerMobile1 {
    display: flex;
    align-items: center;
}

.logoMiTienda {
    width: 40vw;
    max-width: 170px;
}

.logoMobile {
    width: 8vw;
    max-width: 30px;
}

.containerMobile2 a {
    font-size: 2rem;
    color: var(--primaryColor);
    margin-right: 16px;
}

.stack {
    font-size: 2rem;
    color: var(--primaryColor);
    margin-left: 16px;
}



@media (min-width: 766px) {

    .HeaderMobile {
        display: none;
    }

    .HeaderDesktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: var(--thirdColor);
        padding: 16px 32px;
        max-width: 1024px;
        margin: 0 auto;
    }

    .container1 {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .container2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0 32px;
    }

    .container3 {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .container3 a {
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--primaryColor);
        transition: 0.2s;
    }

    .container3 a:hover {
        color: var(--secundaryColor);
    }

    .logoMiTienda {
        width: 170px;
    }

    .logoMobile {
        width: 30px;
    }

}