.card {

    border: solid 1px var(--secundaryColor);
    width: 220px;
    height: 360px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    color: black;

}

.card:hover {

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);

}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99.9%;
    height: 358px;
    background-color: white;
    max-height: 250px;
    max-width: 220px;
}

.image img {
    width: 15vw;
    max-width: 150px;
    min-width: 110px;
    height: 25vh;
    max-height: 250px;
}

.info,
.infoOnSale {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    text-align: center;
}

.price {
    margin: 8px
}

.stock {
    color: white;
    text-align: center;
    padding: 6px;
    background-color: rgb(220, 144, 2);
    font-weight: 500;
    width: 125px;
    position: absolute;
    top: 224px;
    right: 45px;
    border-radius: 5px;
}

.infoOnsale {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    text-align: center;
}

.infoOnSale h4 {
    color: rgba(255, 32, 32, 0.958);
    text-decoration: line-through;
}

.off {
    color: white;
    padding: 6px;
    background-color: red;
    font-weight: 1000;
    width: 75px;
    position: absolute;
    top: 0;
    right: 0;
}