.admin_item_container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 8px;
    padding-block: 16px;

}