.card_similar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: black 1px solid;
    background-color: white;
    width: 200px;
    height: 280px;
    text-decoration: none;
    color: black;
    flex-shrink: 0;
    padding: 0px 4px;
}

.card_similar img{
 
    width: 150px;
    height: 150px;
    align-self: center;

}

.card_similar h3{
    text-align: center;
    
    
}

.card_similar p{
    text-align: center;
}