

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 16px 0;
   width: 100%;
   
}


.container1{
    border: solid 1px black;
    margin: 8px;
    padding: 16px;
    background-color: var(--thirdColor);
     color: var(--secundaryColor);
     width: 150px;
     height: 285px;
    
}



.container1 img{
    width: 100px;
    border-radius: 25px;
    
}

.container1 h4{
    margin: 5px 0 16px 0;


}

@media (min-width: 766px){

.container{
    flex-direction: row;
    flex-wrap: wrap;
   
}

.container1{
     width: 175px;
}


    
}