@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
--primaryColor: #f2f0ef;
--secundaryColor: #bbbdbc;
--thirdColor: #245f73;
--fourthColor: #733e24;
--hoverColor: #86e0fe;
--textFont: "Roboto", sans-serif
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


