@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
 --color-dark-bg: #0F172A;
  --color-primary: #38BDF8;
  --color-light-bg: #F3F4F6;
  --color-text: #FFFFFF;
  --color-accent: #2563EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


