footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 32px 0 0 0;
    background-color: var(--color-dark-bg);
    color: var(--color-light-bg);
    padding: 32px 0 8px 0;
}    


.team_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
}

.informacion_container{
    display: none;
}

.info_contacto{

    text-align: center;
    background-color: var(--color-dark-bg);
    color: white;
    width: 100%;

}


.info_contacto h4{

    text-align: center;
    margin: 12px ;


}

.info_contacto ul li{
    margin: 8px;
    list-style: none;
}

.info_text{
    text-align: center;
    padding: 8px;
}

@media(min-width: 766px) {
    
.info_contacto{
    display: none;
}

.informacion_container{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: start;
    align-items: flex-start;
    width: 75%;
    max-width: 1024px;
    height: auto;
}

.informacion_container ul{
        list-style: none;
        margin: 12px;
        width: 100%;
}

.informacion_container ul li{

    margin: 8px;

}

.info_text{
    width: 100%;
    padding: 8px;
    height: auto;
    margin-top: 16px;
}

.team_container{
   height: auto;
    
}
}