


.container{
   background-color: var(--secundaryColor);
    justify-content: space-evenly;
    margin: 32px 0 0;
    padding: 32px;
    display: flex;
    width: 100%;

}


.container2{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: center;
}
.container3{

    align-self: center;
    justify-content: center;
}

.container3 img{
    width: 400px;
}

